<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="google-site-verification" content="q8dNz3sbSQ0bDHWqeQW2cW-grJ0eadWD-xLTQQc2src"/>
    <link rel="stylesheet" href="/stylesheets/mobilebase.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/database.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>

    <title>My Events</title>
</head>

<body>
<%- body %>
</body>
</html>
